# -*- mode: sh; -*-
# Use poetry with direnv in this project
# (rootdir)/.envrc : direnv configuration file
# see https://direnv.net/
# 
pyversion=3.7.2
pvenv=offenregister

use python ${pyversion}
# Create the virtualenv if not yet done
layout virtualenv ${pyversion} ${pvenv}
# activate it
layout activate ${pvenv}-${pyversion}
layout poetry
# https://github.com/direnv/direnv/wiki/PS1
unset PS1
